@charset "utf-8";
*{
   
    margin: 0;
    padding: 0;
}
body{
    background-color: #9e9e9e38;
}
header.flex{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive, ;
    color: #114a55 ;
    font-size: 20px;
}
header.flex p {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive, ;
    color: #114a55 ;
    border-color: none;
    font-size: 20px;
}
header.flex p:hover{
    font-size: 24px;
    transition: 0.5s;
}

nav{
    width: 300px;
}
ul{
    display: flex;
    list-style-type:none;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:  #114a55 ;
    transition: 0.5s;
}
.top-image{
    height: calc(104.5vh - 94px);
    background-image: url(/img/t1.jpg);
    background-size:cover;
    background-position: bottom;
    }
.top-image p{
    line-height: 900px;
    text-align: center;
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive, ;
    
}

.container1{
    width: 1400px; 
    margin: 0 auto;
}
h2{
    text-align: center;
    line-height: 144px;
    color: #114a55;
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Pacifico', cursive, ;
}
.text{
    display: flex;
    justify-content: space-around;
}
.picture{
    max-width: 500px;
}
.com{
   max-width: 400px;
    line-height: 45px;
}
.container2,h3{
    text-align: center;
}
.container3{
    width: 1000px;
    margin: 0 auto;
}
.container4,footer{
    height: 120px;
   border-top: #114a55;
    border-style: solid 3px ;
}
.container4,small{
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
footer{
    margin: 60px;
    margin: top 120px;
    border-top: solid 3px black;
}
@media screen and (max-width: 500px) {
    .container1 {
        height: 450px;
       width: 90%;
    }
    .container2{
        width: 90%;
    }
    .container3{
        width: 90%;
    }
    .container4{
        width: 90%;
    }
    .text{
        flex-wrap: wrap;
    }
    header.flex {
        width: 100%;
    }
    
    .picture img{
        max-width: 200px;
        max-height: 200px;
    }
    .top-image{
        background-image: url(/img/t1.jpg);
        width: 415px;
        height: 300px;
        background-size: cover;
    }
    .top-image p{
        font-size: 30px;
        line-height: 240px;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        font-family: 'Pacifico', cursive, ;
        
        
    }
    header.flex p:hover{
        font-size: 12px;
        transition: 0;
    }
    header.flex h1{
        font-size: 16px;
    }
    .container1 h2{
        font-size: 20px;
    }
    .container2 h2{
        font-size: 20px;
    }
    .com,p{
        
        font-size: 12px;
        line-height: 20px;
    }
    .com{
        margin-top: 40px;
    }
    header.ul.flex{
        font-size: 12px;
        
    }
    .flex ul{
        justify-content: space-between;
        display: flex;
        list-style-type:none;
        width: 180px;
    }
    header.flex{
        width: 400px;
        margin: 0 auto;
    }
    .flex nav li p{
        width: 5px;
        font-size: 12px;
        
    }
    .flex nav {
        width: 220px; 
        font-size: 12px;
    }
    .container3,h2{
        font-size: 20px;
        
    }
    .container3,h3{
        font-size: 12px;
    }
    .text2 h3{
        font-size: 12px;
    }
    .text2,p{
        font-size: 10px;
    }
    .text3,p{
        font-size: 10px;
    
    }

    .container4,footer,small{
        font-size: 10px;
        margin-top: 20px;
    }
    h2{
        line-height: 100px;
        margin: 0 auto;
    }
    .container4 footer{
        margin: 15px;
        margin: top 20px;
        border-top: solid 3px black;
    }

    }
